body{
    background: linear-gradient(to top, #CCAADD,pink);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Kanit";
    margin-left: 50px;
}
#head{
    color: #FFFFFF;
    font-family: "Press Start 2P"
    
}
div{
    font-size: 20px;
}
h2{
    color: #7251b0;
}
img{
    border-style: outset;
    border-width: 5px;
    border-radius: 20px;
    
}